<button>Add a New Round</button>
<form [formGroup]="teeTimeRequest" style="background-color: rgba(255, 255, 255, 0.09); padding: 16px; border-radius: 16px;" [class]="formclass">
  <div class="form-group">
    <label style="color: #fff;display: flex;">Name:</label>
    <input type="datetime-local" class="form-control" formControlName="teeTime" required="required" placeholder="TeeTime" />
  </div>
  <div class="form-group">
    <label style="color: #fff;display: flex;">Name:</label>
    <input type="number" class="form-control" formControlName="numberOfHoles" required="required" placeholder="Number Of Holes" />
  </div>
  <div class="form-group">
    <label style="color: #fff;display: flex;">Name:</label>
    <input type="checkbox" class="form-control" formControlName="cart" required="required" placeholder="Cart?" />
  </div>
  <div class="form-group">
    <button class="btn draw-border" type="submit" (click)="submitForm()">Submit</button>
  </div>
</form>

