<!--<a [routerLink]="['/CreateRounds']" >Create a Round</a>
<a [routerLink]="['/GetRounds']">Get a Round</a>-->
<div class="container-fluid">
  <div class="row" style="display:flex; justify-content:center">
    <div class="col-md-6">
      <div style="background-image: url('../../../../Images/Sugar Creek.png');height: 450px; width: auto; background-color: #ccc; border-radius: 26px;"></div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6 createArea">
      <app-create-rounds></app-create-rounds>
      
    </div>

    <div class="col-md-6 displayArea">
      <app-get-rounds></app-get-rounds>
    </div>

    </div>
  </div>
