
/*bootstrap overwrites*/
a:hover, a:focus {
    color: white;
    text-decoration: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*#region navBar*/
.nav-title {
    color: #f5f5f5;
    font-size: 1.7em;
}

.nav-title {
    color:#fff;
}

.navbar-right li a {
    color: #f5f5f5;
    font-size: 1.3em;
    text-decoration:underline;
    cursor: pointer;
}

    .navbar-right li a:hover {
        color: #fff;
        font-size: 1.4em;
        text-decoration: none;
        font-weight: 400;
        background-color: rgb(128,128,128, .7)
    }
    .navbar-right li a:focus {

    }
/*end navBar*/

.sc-panel {
    background-color: rgb(128,128,128, .7);
    padding: 26px;
    margin-top: 10%;
}

.sc-panel h2,h4,label {
    color:black;
    font-weight:600;
}