@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>"SugarCreek" is an example of a golf tee-time booking application</h3>

<p>Developed by Brad Renaud while in the Full Stack Accelerated program</p>
