@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Brad Renaud<br />
   Chicago, IL 60622 
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:bdrenaud86@gmail.com">BDRenaud86@gmail.com</a><br />
  </address>